# DISCORD CONFIG
DISCORD_ROLE_ID= 
DISCORD_PING_ROLE=false

# CONFIG
ALWAYS_SEND_SUMMARY=true
DRY_RUN=false

# CHRON CONFIG
NY_TIMEZONE=America/New_York
SCHEDULE_DOW=mon-fri
SCHEDULE_HOUR=17
SCHEDULE_MINUTE=02
RUN_ON_START=false

# YFINANCE CONFIG
YF_PERIOD=14d
YF_INTERVAL=60m
YF_MAX_RETRIES=3
YF_RETRY_BACKOFF_SECONDS=2.0
